body {
    background-color: whitesmoke;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

::selection {
    background: khaki; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: khaki; /* Gecko Browsers */
  }

a {
    color: black;
    text-decoration: none;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.svg-scroll-container {
  width: 100vw; /* Set to 100% of the viewport width or desired width */
  height: 100vh;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: auto; /* Disable vertical scrolling */
  background-color: #0e6eec; /* Optional, for better visualization */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.svg-scroll-container::-webkit-scrollbar { 
  display: none;
}

.coordinates {
  font-size: 13px;
  fill: white;
}

.maindisplay {
  --bs-gutter-x: 0rem;
}

.appear:hover{
  opacity: 1;
}

.appear {
  opacity: 0;
  transition: .5s ease;
  
}

.b1nft1_bg {
  background-image: url("../images/lots/first_island.png");
  background-color:lightgray;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.b1nft2_bg {
  background-image: url("../images/lots/boat.png");
  background-color:lightgray;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;

}

.b1nft3_bg {
  background-image: url("../images/lots/speedboat.png");
  background-color:lightgray;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.b1nft4_bg {
  background-image: url("https://www.arweave.net/HNY8Yz6uAutc4CE1tAIEgL5gLMwefUo54DTnLN7U-T4?ext=PNG");
  background-color: lightskyblue;
  background-size: 100%;
  background-position-y: center;
}

.b1nft5_bg {
  background-image: url("https://www.arweave.net/OYPLbnYr6r35QDlY3J_fv81xLlK4DSSAa26Pc9GPHsI?ext=PNG");
  background-color: lightskyblue;
  background-size: 100%;
  background-position-y: center;
} 

.b1nft6_bg {
  background-image: url("https://www.arweave.net/cO6GdLwdkXEmpB7jpzRySjLjfr7iURy1Nz1gjPYftiU?ext=PNG");
  background-color: lightskyblue;
  background-size: 100%;
  background-position-y: center;
}

.b1nft7_bg {
  background-image: url("https://www.arweave.net/9W1Qnq1qosEuGO_O7LPFXMrN_clQNYRLTSGofT46JE0?ext=PNG");
  background-color: lightskyblue;
  background-size: 100%;
  background-position-y: center;
}