body {
    background-color: whitesmoke;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

::selection {
    background: khaki; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: khaki; /* Gecko Browsers */
  }

a {
    color: black;
    text-decoration: none;
}

.row {
  --bs-gutter-x: 0rem;
}